@font-face {
  font-family: "Futura Medium";
  src: url("/fonts/futuram-webfont.eot");
  src: url("/fonts/futuram-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/futuram-webfont.woff") format("woff"), url("/fonts/futuram-webfont.ttf") format("truetype"), url("/fonts/futuram-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  background-image: url(/img/joseph-ngabo-LZr7ZcMVDs4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Futura Medium", Helvetica, sans-serif;
  min-height: 100vh;
  font-weight: 100;
}

body.orrery {
  background-image: url(/img/orrery_bg-1280.jpg);
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #999;
  font-weight: normal;
}

p, li {
  color: #f0f0f0;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.428571429;
}

.mask {
  background: rgba(0, 0, 0, 0.7);
}

.hide {
  display: none !important;
}

.grid, .form-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 15% 25% 46% 4% 5%;
}

.title {
  grid-row: 3;
  font-size: 8vh;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
  background: linear-gradient(to right, #fff, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.invite {
  font-size: 1.6vh;
  text-align: center;
  letter-spacing: 0.2em;
  grid-row: 5;
}

.speakers {
  text-align: center;
  letter-spacing: 0.2em;
  grid-row: 4;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.speakers > div {
  flex: 1;
}

.speakers div {
  color: yellow;
  font-size: 4.6vh;
  font-weight: bold;
  margin-bottom: 50px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.info {
  grid-row: 2 / 6;
  padding: 50px;
  max-width: 500px;
  overflow: auto;
}

.thanks {
  color: #f5f5f5;
  grid-row: 3;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 70px 50px;
  max-width: 500px;
  text-align: center;
}

.form {
  text-align: center;
  grid-row: 3;
}

.form input {
  width: 300px;
  padding: 10px;
  letter-spacing: 0.2em;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.80);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.form button {
  letter-spacing: 0.2em;
  width: 320px;
  color: yellow;
  padding: 10px;
  background: rgba(0, 0, 0, 0.80);
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.form button:hover {
  background: rgba(75, 75, 75, 0.80);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.letterbox {
  grid-column: 1 / -1;
  background: transparent;
}

.letterbox.bottom {
  grid-row: -2
}
